aiohttp
googlesearch-python
tiktoken
beautifulsoup4
diagrams
docx2pdf
email_validator
erdiagram
Flask
fpdf
geographiclib
geopy
graphviz
PyMuPDF
huggingface
Jinja2
matplotlib
networkx
numpy
openai
passlib
pdf2docx
pdfkit
pillow
PyPDF2
qrcode
requests
supabase
uvicorn
fastapi
reportlab
openpyxl
python-pptx
python-docx
python-dotenv
python-multipart
ddgs
qrcode[pil]
huggingface-hub
pyzbar